@font-face 
  font-family: "Museo Sans Light"
  font-weight: normal
  font-style: normal
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff")
  font-display: swap

@font-face 
  font-family: "Museo Sans Bold"
  font-weight: normal
  font-style: normal
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff")
  font-display: swap

@mixin reg 
  font-family: 'Museo Sans Light', sans-serif
  font-weight: 300

@mixin bold 
  font-family: 'Museo Sans Bold', sans-serif
  font-weight: 700
  