html
  box-sizing: border-box
*, *::before, *::after
  box-sizing: inherit 
  margin: 0
  padding: 0
strong
  +bold
body
  +reg
  margin-left: 0
  margin-right: 0
  min-width: 310px
img
  max-width: 100%
.container
  width: 1170px
  margin: auto
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px
  outline: none
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  &-title
    max-width: 850px
    font-size: 30px
    line-height: 45px
    +bold
    text-align: center
  &-subtitle
    display: block
    font-size: 16px
.input
  border: 1px solid $border-input
  padding: 23px 26px
  font-size: 15px
  border-radius: 10px
  &:focus
    border-color: $main-color
    outline: none
.arrows
  &__left, &__right  
    &:hover
      cursor: pointer
.valid
  color: $valid-validate
  &.input
    border: 2px solid $valid-validate
.error
  color: $error-validate
  &.input
    border: 1px solid $error-validate

@media (max-width: 1224px)
  .container
    width: 960px
    
@media (max-width: 1024px)
  .container
    max-width: 580px
    width: 86%
  .section
    padding-top: 60px
    padding-bottom: 60px

@media (max-width: 768px)
  .container
    max-width: 430px

@media (max-width: 567px)
  .container
    max-width: 300px
