.brif
  background-position: left center
  background-size: 50%
  margin: auto
  position: relative
  &__background
    background: url('../img/brif/brif-bg.jpg') no-repeat
    background-position: right center
    padding: 98px 0 75px 0
    max-width: 1920px
    margin: auto
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: $promise-brif-bgr
  &:after
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0
    right: 0
    background-color: white
    z-index: -100
  &-block
    display: flex
  &__interview
    z-index: 10
    flex-basis: 50%
  &__feedback
    margin-top: -5px
    flex-basis: 50%
    padding-left: 220px
    text-align: center
  &__form
    display: flex
    flex-direction: column
    align-items: center
    & .validate-message
      margin-bottom: 10px
      margin-top: -10px
      text-align: center
  &__input
    width: 370px
    &:nth-of-type(1)
      margin-bottom: 5px
    &:nth-of-type(2)
        margin-top: 5px
        margin-bottom: 5px
  &__button
    +bold
    height: 70px
    width: 100%
    max-width: 370px
    margin-top: 15px
    margin-bottom: 33px
.interview
  padding-right: 50px
  &__title
    margin-bottom: 43px
    line-height: 33px
    font-size: 22px
    +bold
  &__subtitle
    display: block
    margin-bottom: 95px
    font-size: 16px
  &-list
    list-style: none
    padding: 0
    &__item
      display: flex
      align-items: center
      +bold
      margin-bottom: 25px
      &:nth-child(2)
        margin-bottom: 32px
      &:nth-child(3)
        margin-bottom: 36px
    &__counter
      display: inline-block
      margin-right: 30px
      text-align: center
      line-height: 35px
      font-size: 14px
      width: 35px
      height: 35px
      border: 2px solid $text-color
      border-radius: 50%
    &__text
      font-size: 18px
      max-width: 400px
.feedback
  &__title
    margin-bottom: 45px
    font-size: 22px
    line-height: 33px
    +bold
  &__subtitle
    display: block
    margin-bottom: 50px
    font-size: 16px
  &__description
    font-size: 15px
    display: block

@media (max-width: 1224px)
  .brif
    &__feedback
      padding-left: 30px
  .interview
    padding-right: 30px
    &__title
      font-size: 20px
      margin-bottom: 15px
    &__subtitle
      margin-bottom: 30px
    &-list
      &__text
        font-size: 14px
        max-width: 300px
      &__counter
        margin-right: 20px
  .feedback
    &__title
      font-size: 20px
      margin-bottom: 15px
    &__subtitle
      margin-bottom: 30px

@media (max-width: 1024px)
  .brif
    &__interview
      margin-bottom: 120px
    &__background
      padding: 70px 0 85px 0
      background-position: center bottom
    &:before
      width: 100%
      height: 535px
    &:after
      width: 0%
    &__feedback
      padding-left: 0
    &-block
      flex-direction: column
  .interview
    &__title
      width: 430px

@media (max-width: 768px)
  .brif
    &__background
      padding: 50px 0 34px 0
    &:before
      height: 520px
    &__button
      margin-bottom: 31px
  .feedback
    &__title
      margin-bottom: 27px

@media (max-width: 567px)
  .brif
    &__interview
      margin-bottom: 97px
    &__background
      padding: 43px 0 34px 0
    &:before
      height: 510px
    &__input
      width: 275px
      margin-bottom: 8px
      & + .error
        &:nth-of-type(2)          
          margin-bottom: 5px
    &__button
      width: 275px
      margin-top: 5px
      margin-bottom: 25px
      font-size: 14px
    &__form
      & .validate-message
        font-size: 16px
  .interview
    padding-right: 0
    &__title
      width: 220px
      font-size: 18px
      line-height: 22px
      margin-bottom: 13px
    &__subtitle
      width: 175px
      font-size: 14px
      margin-bottom: 38px
    &-list
      &__item
        margin-bottom: 30px
        &:nth-child(2)
          margin-bottom: 15px
        &:nth-child(3)
          margin-bottom: 30px
      &__counter
        margin-right: 7px
      &__text
        width: 231px
        font-size: 14px
  .feedback
    &__title
      width: 280px
      // margin-left: -4px
      margin: auto
      font-size: 18px
      line-height: 24px
      margin-bottom: 24px
    &__subtitle
      font-size: 14px
      margin-bottom: 35px
    &__description
      font-size: 14px
      margin: auto
      width: 135px
      line-height: 24px
  .error
    font-size: 14px