.footer
  position: relative
.map
  position: absolute
  left: 0
  top: 0
  width: 50%
.contacts
  flex-basis: 50%
  padding-top: 93px
  padding-left: 215px
  &__title
    +bold
    font-size: 22px
    line-height: 33px
    margin-bottom: 88px
  &-block
    display: flex
    justify-content: flex-end
  &-list
    padding: 0
    list-style: none
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 23px
      padding-top: 5px
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 29px
      margin-left: -3px
    &__text
      font-size: 16px
      line-height: 26px
    &__ref
      margin-left: 5px
      color: $text-color
      text-decoration: none

@media (max-width: 1224px)
  .contacts
    padding-left: 145px

@media (max-width: 1024px)
  .footer
    display: flex
    flex-direction: column-reverse
  .map
    width: 100%
    position: relative
  .contacts
    padding-top: 65px
    padding-bottom: 65px
    flex-basis: 100%
    padding-left: 0
    &__title
      margin-bottom: 45px

@media (max-width: 768px)
  .contacts
    padding-bottom: 35px

@media (max-width: 567px)
  .contacts
    padding-top: 60px
    padding-bottom: 30px
    &__title
      font-size: 18px
      line-height: 22px
      margin-bottom: 30px
    &-list
      &__icon
        margin-right: 13px