.hero
  padding: 50px 0
  background-color: $bgr-color
  &-block
    display: flex
  &-text
    flex-basis: 52%
    padding-right: 100px
    &__title
      +bold
      font-size: 41px
      line-height: 55px
      margin-top: 28px
    &__subtitle
      +bold
      display: inline-block
      font-size: 20px
      margin-top: 10px
      margin-bottom: 67px
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 24px
      &:last-child
        margin-bottom: 0
    &__image
      flex-basis: 40px
      height: 40px
      width: 40px
      border: 2px solid $main-color
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      +reg
      font-size: 14px
      line-height: 24px
      max-width: 300px
  &-image
    img
      box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05)

@media (max-width: 1224px)
  .hero
    &-block
      flex-direction: column
    &-list
      margin-bottom: 44px
    &-text
      padding-right: 10px
      &__title
        margin-top: 0px
      &__subtitle
        margin-bottom: 40px

@media (max-width: 1024px)
  .hero
    &-text
      &__title
        font-size: 36px
        line-height: 1.4
        margin-bottom: 15px
        margin-top: 5px
      &__subtitle
        margin-bottom: 28px
    &-list
      margin-bottom: 30px
      &__item
        margin-bottom: 20px
      &__image
        margin-right: 13px

@media (max-width: 768px)
  .hero
    &-text
      padding-right: 0
      &__title
        font-size: 32px
        line-height: 40px

@media (min-width: 320px) and (max-width: 566px)
  .hero
    padding-top: 35px
    padding-left: 5px
    &-text
      &__title
        width: 275px
        font-size: 24px
        line-height: 30px
        margin-bottom: 8px
        margin-top: 5px
      &__subtitle
        margin-top: 0
        font-size: 16px
        margin-bottom: 28px
    &-list
      margin-bottom: 37px
      &__text
        font-size: 12px
        line-height: 15px

.hero-text.slideInLeft
  animation-delay: 5s