.portfolio
  background: $bgr-color url('../img/portfolio/portfolio-pattern.jpg') repeat-y left
  background-size: 50%
  padding: 92px 0
  &__title
    margin: auto
    margin-bottom: 95px
  &__arrows
    max-width: 120px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between
.slider
  &__item
    outline:  0
  &__image
    margin: auto

@media (max-width: 1224px)
  .portfolio
    padding: 62px 0
    &__title
      margin-bottom: 55px

@media (max-width: 1024px)
  .portfolio
    &__title
      margin-bottom: 65px
    &__arrows
      margin-top: 48px
  .slider
    &__image
      margin: auto

@media (max-width: 768px)
  .portfolio
    padding: 53px 0
    &__title
      font-size: 24px
      line-height: 30px
      margin-bottom: 45px

@media (max-width: 567px)
  .portfolio
    padding: 42px 0 58px 0
    &__title
      font-size: 18px
      line-height: 22px
      margin-bottom: 40px
  .slider
    &__image
      width: 246px