.price
  padding: 92px 0
  &__title
    width: 520px
    margin: auto
    margin-bottom: 50px
  &__subtitle
    margin-bottom: 59px
    text-align: center
    font-size: 20px
  &__card
    margin-bottom: 30px
.card
  text-align: center
  border: 1px solid $border-card
  transition: 0.4s
  &:hover
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1)
    .card__image::before
      opacity: 1
  &__text
    padding: 36px 0 45px 0
  &__title
    margin-top: 0
    margin-bottom: 30px
    +reg
    font-size: 18px
  &__image
    position: relative
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%)
      opacity: 0
      transition: 0.4s
  &__image-item
    display: block
  &__link
    display: inline-block
    +bold
    text-decoration: none
    color: $text-color
    font-size: 16px
    position: relative
    &:hover
      &::after
        height: 12px
    &::after
      content: ''
      position: absolute
      bottom: -4px
      left: 0
      display: block
      width: 100%
      height: 3px
      background-color: $main-color
      z-index: -1
      transition: 0.4s
  &s
    display: flex
    justify-content: space-between
    flex-wrap: wrap

@media (max-width: 1224px)
  .price
    padding: 62px 0
    &__title
      margin-bottom: 30px
  .cards
    justify-content: space-around

@media (max-width: 1024px)
  .price
    padding: 52px 0
    &__card
      margin: auto
      margin-bottom: 30px

@media (max-width: 768px)
  .price
    &__title
      width: 430px
      font-size: 24px
      line-height: 30px
      margin-bottom: 27px
    &__subtitle
      font-size: 16px
  .card
    &__title
      font-size: 16px

@media (max-width: 567px)
  .price
    padding: 50px 0 20px 0
    &__title
      width: 242px
      font-size: 18px
      line-height: 22px
      margin-bottom: 23px
    &__subtitle
      font-size: 14px
      padding-right: 15px
  .card
    &__title
      font-size: 14px
      margin-bottom: 15px
    &__image
      width: 271px
    &__text
      padding: 27px 0 32px 0