.warranty
  &__title
    width: 650px
    margin: auto
    padding-bottom: 95px
  &__about
    display: flex
    justify-content: center
    padding-bottom: 228px
  &__item
    width: 270px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    &:nth-child(2)
      margin: 0 130px
  &__image
    margin-bottom: 32px
  &__subtitle
    width: 295px
    +reg
    font-size: 18px
    line-height: 24px

@media (max-width: 1224px)
  .warranty
    &__about
      padding-bottom: 120px
    &__item
      &:nth-child(2)
        margin: 0 70px

@media (max-width: 1024px)
  .warranty
    &__title
      width: 500px
      padding-bottom: 45px
    &__subtitle
      width: 260px
    &__about
      flex-direction: column
      align-items: center
      padding-bottom: 30px
    &__item
      &:nth-child(2)
        margin: 44px 0 44px 0
    &__image
      margin-bottom: 10px

@media (max-width: 768px)
  .warranty
    &__title
      width: 430px
      font-size: 24px
      line-height: 30px
    &__subtitle
      font-size: 16px

@media (max-width: 567px)
  .warranty
    padding-top: 75px
    padding-bottom: 57px
    &__title
      width: 238px
      font-size: 18px
      line-height: 22px
    &__subtitle
      font-size: 14px
      line-height: 17px
      width: 232px
      margin-top: 16px
    &__item
      &:nth-child(2)
        margin: 44px 0 41px 0
