@charset "UTF-8";
@font-face {
  font-family: "Museo Sans Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff");
  font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
            transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

strong {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin-left: 0;
  margin-right: 0;
  min-width: 310px;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  outline: none;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section-title {
  max-width: 850px;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.input:focus {
  border-color: #ffd200;
  outline: none;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.valid {
  color: green;
}

.valid.input {
  border: 2px solid green;
}

.error {
  color: red;
}

.error.input {
  border: 1px solid red;
}

@media (max-width: 1224px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 580px;
    width: 86%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 430px;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 300px;
  }
}

/* Импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  margin-top: 8px;
}

.navbar__address {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

@media (max-width: 768px) {
  .navbar__button {
    margin-left: 10px;
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__phone {
    font-size: 16px;
  }
  .navbar__address {
    font-size: 12px;
  }
}

@media (max-width: 567px) {
  .navbar {
    padding-left: 5px;
    padding-bottom: 15px;
  }
  .navbar__logo {
    margin-left: -5px;
  }
  .navbar__button {
    width: 137px;
    height: 39px;
    padding: 10px 15px;
    font-size: 10px;
    border-radius: 5px;
  }
}

/* Стили для главного экрана*/
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 52%;
      flex-basis: 52%;
  padding-right: 100px;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 55px;
  margin-top: 28px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 67px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  height: 40px;
  width: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  max-width: 300px;
}

.hero-image img {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1224px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
  .hero-text__title {
    margin-top: 0px;
  }
  .hero-text__subtitle {
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .hero-text__title {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .hero-text__subtitle {
    margin-bottom: 28px;
  }
  .hero-list {
    margin-bottom: 30px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 13px;
  }
}

@media (max-width: 768px) {
  .hero-text {
    padding-right: 0;
  }
  .hero-text__title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 320px) and (max-width: 566px) {
  .hero {
    padding-top: 35px;
    padding-left: 5px;
  }
  .hero-text__title {
    width: 275px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-top: 5px;
  }
  .hero-text__subtitle {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list {
    margin-bottom: 37px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 15px;
  }
}

.hero-text.slideInLeft {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

/* Стили для блока offer*/
.offer {
  max-width: 1920px;
  background: url("../img/offer/offer-kitchen.jpg") no-repeat;
  background-position: center right;
  margin: auto;
  padding: 75px 0 85px 0;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  width: 355px;
  line-height: 35px;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.offer__subtitle {
  width: 250px;
  min-width: 250px;
  margin-bottom: 30px;
}

.offer__form {
  margin-bottom: 10px;
}

.offer__form #username-error {
  display: block;
  text-align: center;
}

.offer__form #phone-error {
  display: block;
  text-align: center;
}

.offer__form .validate-message {
  margin-top: 20px;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  text-align: center;
  width: 100%;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 495px;
  min-height: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.offer__recall-block {
  width: 485px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.offer__recall-item {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin-top: 18px;
}

.offer__recall-tel {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (min-width: 1224px) {
  .offer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .offer__form #username-error {
    position: absolute;
    width: 100%;
    left: 5px;
    top: -20px;
    width: 240px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  .offer__form #phone-error {
    position: absolute;
    width: 100%;
    right: 5px;
    top: -40px;
    width: 240px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

@media (max-width: 1224px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .offer__input:first-child {
    margin-top: 0;
    margin-right: 0;
  }
  .offer__button {
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
  }
  .offer__recall-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .offer {
    background: #ffffff;
  }
  .offer__title {
    width: 550px;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__subtitle {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offer {
    padding: 53px 0 56px 0;
  }
  .offer__title {
    width: 350px;
    font-size: 24px;
    line-height: 30px;
  }
  .offer__subtitle {
    width: 250px;
  }
  .offer__recall-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__input {
    width: 100%;
  }
  .offer__button {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .offer {
    padding: 50px 0 46px 0;
  }
  .offer__title {
    font-size: 18px;
    line-height: 22px;
    width: 260px;
    margin-bottom: 16px;
  }
  .offer__subtitle {
    font-size: 14px;
  }
  .offer__recall-block {
    width: 230px;
  }
  .offer__recall-item {
    margin-top: 10px;
    margin-left: 5px;
  }
  .offer__input {
    width: 275px;
    margin-bottom: 8px;
  }
  .offer__button {
    width: 275px;
    padding: 0 40px;
    font-size: 14px;
  }
  .offer__form #username-error {
    width: 275px;
  }
  .offer__form #phone-error {
    width: 275px;
  }
  .offer__form .validate-message {
    font-size: 16px;
    width: 275px;
  }
}

/* Стили модального окна*/
.callBack {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.callBack__title {
  width: 90%;
  margin: auto;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.callBack--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callBack__dialog {
  position: relative;
  margin: auto;
  width: 40%;
  background-color: #fff;
  padding: 40px;
}

.callBack__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callBack__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.callBack__input {
  width: 100%;
}

.callBack__input:nth-of-type(1) {
  margin-bottom: 10px;
}

.callBack__input:nth-of-type(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.callBack__input + .error {
  text-align: center;
}

.callBack__button {
  margin-top: 10px;
  height: 65px;
  width: 100%;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.validate-message {
  display: none;
  margin-top: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 1224px) {
  .callBack__dialog {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .callBack__dialog {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .callBack__dialog {
    width: 70%;
  }
}

@media (max-width: 567px) {
  .callBack__title {
    font-size: 16px;
  }
  .callBack__dialog {
    width: 100%;
  }
  .callBack__button {
    font-size: 14px;
  }
  .validate-message {
    margin-top: 10px;
    font-size: 16px;
  }
}

/* Стили для блока портфолио*/
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y left;
  background-size: 50%;
  padding: 92px 0;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 95px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item {
  outline: 0;
}

.slider__image {
  margin: auto;
}

@media (max-width: 1224px) {
  .portfolio {
    padding: 62px 0;
  }
  .portfolio__title {
    margin-bottom: 55px;
  }
}

@media (max-width: 1024px) {
  .portfolio__title {
    margin-bottom: 65px;
  }
  .portfolio__arrows {
    margin-top: 48px;
  }
  .slider__image {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .portfolio {
    padding: 53px 0;
  }
  .portfolio__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 45px;
  }
}

@media (max-width: 567px) {
  .portfolio {
    padding: 42px 0 58px 0;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .slider__image {
    width: 246px;
  }
}

/* Стили для блока с ценами*/
.price {
  padding: 92px 0;
}

.price__title {
  width: 520px;
  margin: auto;
  margin-bottom: 50px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 36px 0 45px 0;
}

.card__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card__image-item {
  display: block;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover::after {
  height: 12px;
}

.card__link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1224px) {
  .price {
    padding: 62px 0;
  }
  .price__title {
    margin-bottom: 30px;
  }
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1024px) {
  .price {
    padding: 52px 0;
  }
  .price__card {
    margin: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .price__title {
    width: 430px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 27px;
  }
  .price__subtitle {
    font-size: 16px;
  }
  .card__title {
    font-size: 16px;
  }
}

@media (max-width: 567px) {
  .price {
    padding: 50px 0 20px 0;
  }
  .price__title {
    width: 242px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 23px;
  }
  .price__subtitle {
    font-size: 14px;
    padding-right: 15px;
  }
  .card__title {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .card__image {
    width: 271px;
  }
  .card__text {
    padding: 27px 0 32px 0;
  }
}

/* Стили для блока бриф*/
.steps {
  padding: 30px 0;
}

.steps__title {
  width: 660px;
  margin: auto;
}

.steps__subtitle {
  padding: 50px 0 65px 0;
  text-align: center;
  font-size: 20px;
}

.steps__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps__item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 75px;
  width: 100%;
  height: 100%;
  background: url("../img/steps/step__arrow.png") no-repeat;
}

.step {
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.step__image {
  height: 100px;
  width: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.step__title {
  line-height: 20px;
  text-align: center;
  padding: 30px 0;
  display: block;
  font-size: 14px;
}

@media (max-width: 1224px) {
  .steps {
    padding: 0 0 20px 0;
  }
  .steps__item:not(:first-child)::before {
    right: 50px;
  }
}

@media (max-width: 1024px) {
  .steps__title {
    width: 430px;
  }
  .steps__item:not(:first-child)::before {
    right: 35px;
    top: -30px;
  }
}

@media (max-width: 768px) {
  .steps__title {
    font-size: 24px;
    line-height: 30px;
  }
  .steps__subtitle {
    font-size: 16px;
    padding: 27px 0 54px 0;
  }
  .step__title {
    font-style: 12px;
    padding: 20px 0 65px 0;
  }
}

@media (max-width: 567px) {
  .steps__title {
    width: 243px;
    font-size: 18px;
    line-height: 22px;
  }
  .steps__item:not(:first-child)::before {
    display: none;
  }
  .steps__subtitle {
    font-size: 14px;
    padding: 22px 0 33px 0;
  }
  .steps__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .step__title {
    line-height: 16px;
    padding: 30px 0;
  }
}

/* Стили для блока шаги*/
.promises {
  padding: 35px 0 130px 0;
}

.promises__title {
  padding: 83px 0 95px 0;
  background-color: #ffc000;
  margin: auto;
  font-size: 32px;
  line-height: 50px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  text-align: center;
}

.promises__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.promises__item {
  width: 370px;
  position: relative;
}

.promises__item:nth-child(2) {
  margin: 0 30px;
}

.promises__subtitle {
  padding: 20px 53px 0 27px;
  text-align: left;
  font-size: 20px;
  position: absolute;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
}

@media (max-width: 1224px) {
  .promises {
    padding: 25px 0 80px 0;
  }
}

@media (max-width: 1024px) {
  .promises {
    padding: 25px 0 0 0;
  }
  .promises__title {
    padding: 60px 0 70px 0;
  }
  .promises__about {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promises__item {
    margin-bottom: 30px;
  }
  .promises__item:nth-child(2) {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 768px) {
  .promises__title {
    font-size: 24px;
    line-height: 30px;
  }
  .promises__item:nth-child(2) {
    margin: 30px 0 30px 0;
  }
}

@media (max-width: 567px) {
  .promises__title {
    font-size: 18px;
    line-height: 22px;
    padding: 70px 30px 70px 30px;
  }
  .promises__subtitle {
    padding: 17px 30px 0 17px;
    font-size: 12px;
    line-height: 17px;
  }
  .promises__about {
    margin-top: 60px;
  }
  .promises__item {
    width: 272px;
  }
  .promises__item:nth-child(2) {
    margin: 27px 0;
  }
}

/* Стили для блока обещаний*/
.warranty__title {
  width: 650px;
  margin: auto;
  padding-bottom: 95px;
}

.warranty__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 228px;
}

.warranty__item {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.warranty__item:nth-child(2) {
  margin: 0 130px;
}

.warranty__image {
  margin-bottom: 32px;
}

.warranty__subtitle {
  width: 295px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1224px) {
  .warranty__about {
    padding-bottom: 120px;
  }
  .warranty__item:nth-child(2) {
    margin: 0 70px;
  }
}

@media (max-width: 1024px) {
  .warranty__title {
    width: 500px;
    padding-bottom: 45px;
  }
  .warranty__subtitle {
    width: 260px;
  }
  .warranty__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
  .warranty__item:nth-child(2) {
    margin: 44px 0 44px 0;
  }
  .warranty__image {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .warranty__title {
    width: 430px;
    font-size: 24px;
    line-height: 30px;
  }
  .warranty__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 567px) {
  .warranty {
    padding-top: 75px;
    padding-bottom: 57px;
  }
  .warranty__title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
  .warranty__subtitle {
    font-size: 14px;
    line-height: 17px;
    width: 232px;
    margin-top: 16px;
  }
  .warranty__item:nth-child(2) {
    margin: 44px 0 41px 0;
  }
}

/* Стили для блока гарантий*/
.brif {
  background-position: left center;
  background-size: 50%;
  margin: auto;
  position: relative;
}

.brif__background {
  background: url("../img/brif/brif-bg.jpg") no-repeat;
  background-position: right center;
  padding: 98px 0 75px 0;
  max-width: 1920px;
  margin: auto;
}

.brif:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffc000;
}

.brif:after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: -100;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  z-index: 10;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__feedback {
  margin-top: -5px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 220px;
  text-align: center;
}

.brif__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brif__form .validate-message {
  margin-bottom: 10px;
  margin-top: -10px;
  text-align: center;
}

.brif__input {
  width: 370px;
}

.brif__input:nth-of-type(1) {
  margin-bottom: 5px;
}

.brif__input:nth-of-type(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}

.brif__button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 33px;
}

.interview {
  padding-right: 50px;
}

.interview__title {
  margin-bottom: 43px;
  line-height: 33px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.interview-list__item:nth-child(2) {
  margin-bottom: 32px;
}

.interview-list__item:nth-child(3) {
  margin-bottom: 36px;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  font-size: 18px;
  max-width: 400px;
}

.feedback__title {
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.feedback__subtitle {
  display: block;
  margin-bottom: 50px;
  font-size: 16px;
}

.feedback__description {
  font-size: 15px;
  display: block;
}

@media (max-width: 1224px) {
  .brif__feedback {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .feedback__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .feedback__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .brif__interview {
    margin-bottom: 120px;
  }
  .brif__background {
    padding: 70px 0 85px 0;
    background-position: center bottom;
  }
  .brif:before {
    width: 100%;
    height: 535px;
  }
  .brif:after {
    width: 0%;
  }
  .brif__feedback {
    padding-left: 0;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .interview__title {
    width: 430px;
  }
}

@media (max-width: 768px) {
  .brif__background {
    padding: 50px 0 34px 0;
  }
  .brif:before {
    height: 520px;
  }
  .brif__button {
    margin-bottom: 31px;
  }
  .feedback__title {
    margin-bottom: 27px;
  }
}

@media (max-width: 567px) {
  .brif__interview {
    margin-bottom: 97px;
  }
  .brif__background {
    padding: 43px 0 34px 0;
  }
  .brif:before {
    height: 510px;
  }
  .brif__input {
    width: 275px;
    margin-bottom: 8px;
  }
  .brif__input + .error:nth-of-type(2) {
    margin-bottom: 5px;
  }
  .brif__button {
    width: 275px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 14px;
  }
  .brif__form .validate-message {
    font-size: 16px;
  }
  .interview {
    padding-right: 0;
  }
  .interview__title {
    width: 220px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 13px;
  }
  .interview__subtitle {
    width: 175px;
    font-size: 14px;
    margin-bottom: 38px;
  }
  .interview-list__item {
    margin-bottom: 30px;
  }
  .interview-list__item:nth-child(2) {
    margin-bottom: 15px;
  }
  .interview-list__item:nth-child(3) {
    margin-bottom: 30px;
  }
  .interview-list__counter {
    margin-right: 7px;
  }
  .interview-list__text {
    width: 231px;
    font-size: 14px;
  }
  .feedback__title {
    width: 280px;
    margin: auto;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .feedback__subtitle {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .feedback__description {
    font-size: 14px;
    margin: auto;
    width: 135px;
    line-height: 24px;
  }
  .error {
    font-size: 14px;
  }
}

/* Стили для подвала*/
.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 93px;
  padding-left: 215px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 88px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
  padding-top: 5px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 29px;
  margin-left: -3px;
}

.contacts-list__text {
  font-size: 16px;
  line-height: 26px;
}

.contacts-list__ref {
  margin-left: 5px;
  color: #333333;
  text-decoration: none;
}

@media (max-width: 1224px) {
  .contacts {
    padding-left: 145px;
  }
}

@media (max-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    width: 100%;
    position: relative;
  }
  .contacts {
    padding-top: 65px;
    padding-bottom: 65px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 0;
  }
  .contacts__title {
    margin-bottom: 45px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-bottom: 35px;
  }
}

@media (max-width: 567px) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .contacts__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .contacts-list__icon {
    margin-right: 13px;
  }
}
/*# sourceMappingURL=style.css.map */